//- index.pug
extends layout.pug

block title
  title Andrew Dibb | Résumé

block content
 #barba-wrapper
  .barba-container(data-namespace="aboutpage")
   include includes/nav.pug
   .about-wrapper
    #main
     .content
      h1 About
      hr.line
      p Hello! I am Andrew Dibb, a front end developer from Nashville, TN, who is passionate about all things front end web. I'm  a self-starter who is very passionate about learning and have a strong work ethic. #[a(href="mailto:andrewdibb@gmail.com") Email] me to talk about working together or just say hello!

      h5 Things I use:
      p HTML, SCSS/CSS, Javascript, Jquery, Gulp, Foundation, Wordpress, Git, Photoshop

      h5 Things I'm Learning:
      p Programming, Javascript core mechanisms, MEAN(MongoDB, Express, Angular, Node) Stack

      h5 In my free time:
      ul
       li Running and Working Out
       li Everything Green Bay Packers #gopackgo
       li Enjoy a nice beer
       li Finding new music

      a(href="https://drive.google.com/file/d/0B7T-FgaP1kHeTjVaMThhcE9wNHM/view?usp=sharing" target="_blank").btn Download Résumé


