//- index.pug
extends layout.pug

block title
  title Andrew Dibb | Résumé

block content
 .about-wrapper
  #main.about
   .content
    h1 About
    hr.line
    p I am Andrew Dibb. I'm a frontend developer and I'm passionate about digital media, design, </br>and web-development. I love being creative in everything I do and strive to use technology </br> to make communication simpler.

    h5 Things I use:
    p HTML, SCSS/CSS, Javascript, Jquery, Gulp, Foundation, Wordpress, Git, Photoshop

    h5 Things I'm Learning:
    p Programming, MEAN(MongoDB, Express, Angular, Node) Stack

    a(href="https://drive.google.com/file/d/0B7T-FgaP1kHeTjVaMThhcE9wNHM/view?usp=sharing" target="_blank").btn Download Résumé


