//- index.pug
extends layout.pug

block title
  title Andrew Dibb | Home

block content
 #barba-wrapper
  .barba-container(data-namespace="homepage")
   include includes/nav.pug
   .home-wrapper
    #main
     .content
      h1 Andrew Dibb
      hr.line
      h4 I am a frontend developer
      ul#social-list
       li
        a(href="https://twitter.com/andrewdibb" target="_blank")
         i.icon-social-twitter 
         span twitter
       li
        a(href="https://www.instagram.com/andrewdibb/" target="_blank")
         i.icon-social-instagram 
         span instagram
       li
        a(href="https://github.com/adibbz" target="_blank")
         i.icon-social-github 
         span github
       li
        a(href="mailto:andrewdibb@gmail.com")
         i.icon-envelope 
         span email
    