//- layout.pug
doctype html
html
  head
    block title
      title Andrew Dibb
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification" content="_G0BY-zkBVHY_5x2pEatxa-f9xPOSUf3h1J2YgyRFeo")
    // OG Meta Information
    meta(property="og:url" content="http://andrewdibb.com")
    meta(property="og:image" content="http://andrewdibb.com/Images/header_mobile.svg")
    meta(property="og:site_name" content="Andrew Dibb Personal Site")
    meta(property="og:title" content="Andrew Dibb")
    meta(property="og:description" content="Andrew Dibb Personal Site")
    // Foundation
    link(rel="stylesheet" type="text/css" href="/css/foundation.min.css" )
    // Custom Styles
    link(rel="stylesheet" type="text/css" href="/css/custom.css" )
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet")
    // Simple Line Icons
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css")
    // Animate
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

  body
  #barba-wrapper
   .barba-container
    nav#site-navigation
     a(href="/index.html")
      span + home
     a(href="/about.html")
      span + about
     a(href="/work.html")
      span + work

    block content

  // Jquery
  script(src="/js/vendor/jquery.js")
  //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  // Foundation
  script(src="/js/vendor/foundation.js")
  script(src="/js/vendor/foundation.min.js")
  script(src="/js/vendor/what-input.js")
  // Barba.js
  script(src="/js/barba.min.js" type="text/javascript")
  script(src="/js/custom.js" type="text/javascript")
  script.
   $(document).ready(function($) {
    Barba.Pjax.start();
   });