//- index.pug
extends layout.pug

block title
  title Andrew Dibb | Work

block content
 #barba-wrapper
  .barba-container(data-namespace="workpage")
   include includes/nav.pug
   .workpage-wrapper
    #main
     .content
      h1 work page