//- index.pug
extends layout.pug

block title
  title Andrew Dibb | Work

block content
 #barba-wrapper
  .barba-container(data-namespace="workpage")
   include includes/nav.pug
   .workpage-wrapper
    #main
     .content
      h1 Work
      hr.line

      section#work-list

       div.work-item
        h5 01. Custom Website - Freelance
         a(href="http://www.morristownrunning.org/" target="_blank")
          i.icon-link
        p Wordpress CMS, Foundation Starter Theme, SCSS/CSS, Gulp

       div.work-item
        h5 02. Custom Website built for G/O Digital
         a(href="https://www.9healthfair.org/" target="_blank")
          i.icon-link
        p Wordpress CMS, Foundation Starter Theme, SCSS/CSS, Gulp

       div.work-item
        h5 03. Custom Website built for G/O Digital
         a(href="http://www.principalcharityclassic.com/" target="_blank")
          i.icon-link
        p Wordpress CMS, Foundation Starter Theme, SCSS/CSS, Gulp

       div.work-item
        h5 04. Spotify Royalties Calculator
         a(href="http://spotifycalc.com/" target="_blank")
          i.icon-link
        p Side project. HTML, CSS, JS/Jquery. Plans to update to MEAN(Mongo, Express, Angular, Node) App and integrate Spotify API.

       div.work-item
        h5 05. Webhost Manager MEAN App
         a(href="https://github.com/adibbz/GO-Host_MEAN" target="_blank")
          i.icon-link
        p Side project. MEAN(Mongo, Express, Angular, Node) App. A coworker wrote a python script  that generates a JSON file of webhost details for our server. The app simply reads the data and adds CRUD capabilities.